openapi: 3.1.0
info:
  title: Chron API
  version: 0.1.0
  summary: The Chron API
  description: Use this API to connect to the Chron API.
  contact:
    name: Chron
    url: 'https://chronhq.com'
    email: support@chronhq.com
  termsOfService: chronhq.com/terms
  license:
    name: Chron Software License Agreement
    url: 'https://chronhq.com/docs/license'
tags:
  - name: Calendar
    description: A timetable outlining the timing and sequence of events or activities.
  - name: Event
    description: A specific occurrence at a particular time and place.
  - name: Subscriber
    description: A person subscribed to a calendar.
servers:
  - url: 'https://api.chronhq.com'
components:
  schemas:
    api_errors:
      description: 'Chron uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided. Codes in the `5xx` range indicate an error with Chron''s servers (these are rare).'
      properties:
        message:
          description: 'A human-readable message providing more details about the error, meant to be displayable to your users.'
          maxLength: 40000
          type: string
      required:
        - message
      title: APIErrors
      type: object
    error:
      description: An error response from the Chron API.
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    event:
      description: Events describe the specific events available to your customers. Events are programmed within `Calendars`.
      properties:
        active:
          description: Whether the event is currently available for use.
          type: boolean
        created:
          description: 'Time at which the object was created, in ISO 8601 format.'
          format: date-time
          type: string
        description:
          description: 'The event''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the event for your own rendering purposes.'
          maxLength: 40000
          nullable: true
          type: string
        end:
          description: 'The end date and time of the event, in ISO 8601 format.'
          format: date-time
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        location:
          description: The intended physical or virtual place where the event will take place.
          maxLength: 5000
          type: string
        name:
          description: 'The event''s name, meant to be displayable to the customer.'
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - event
          type: string
        calendar:
          anyOf:
            - $ref: '#/components/schemas/calendar/properties/id'
          description: The ID of the calendar this event is associated with.
        start:
          description: 'The start date and time of the event, in ISO 8601 format.'
          format: date-time
          type: string
        updated:
          description: 'Time at which the object was last updated, in ISO 8601 format.'
          format: date-time
          type: string
        url:
          description: A URL of a publicly-accessible webpage for this event.
          maxLength: 2048
          nullable: true
          type: string
      title: Event
      type: object
    deleted_event:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
            - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - event
          type: string
      required:
        - deleted
        - id
        - object
      title: DeletedEvent
      type: object
    deleted_calendar:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
            - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - calendar
          type: string
      required:
        - deleted
        - id
        - object
      title: DeletedCalendar
      type: object
    deleted_subscriber:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
            - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - subscriber
          type: string
      required:
        - deleted
        - id
        - object
      title: DeletedSubscriber
      type: object
    calendar:
      description: Calendars describe the specific calendars available to your customers. Calendars are populated with `Events`.
      properties:
        active:
          description: Whether the calendar is currently available for use.
          type: boolean
        created:
          description: 'Time at which the object was created, in ISO 8601 format.'
          format: date-time
          type: string
        description:
          description: 'The calendar''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the calendar for your own rendering purposes.'
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        image:
          description: 'An URL of an image for this calendar, meant to be displayable to the customer.'
          maxLength: 5000
          type: string
        name:
          description: 'The calendar''s name, meant to be displayable to the customer.'
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - calendar
          type: string
        updated:
          description: 'Time at which the object was last updated, in ISO 8601 format.'
          format: date-time
          type: string
        url:
          description: A URL of a publicly-accessible webpage for this calendar.
          maxLength: 2048
          nullable: true
          type: string
      title: Calendar
      type: object
    subscriber:
      description: This is an object representing a person subscribed to a calendar.
      properties:
        active:
          description: Whether the subscriber is currently available.
          maxLength: 5000
          type: boolean
        created:
          description: 'Time at which the object was created, in ISO 8601 format.'
          format: date-time
          type: string
        email:
          description: The subscriber's email address.
          maxLength: 5000
          type: string
        first_name:
          description: The subscriber's first name.
          maxLength: 5000
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last_name:
          description: The subscriber's last name.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
            - subscriber
          type: string
        updated:
          description: 'Time at which the object was last updated, in ISO 8601 format.'
          format: date-time
          type: string
      title: Subscriber
      type: object
  securitySchemes:
    basicAuth:
      description: 'Basic HTTP authentication. Allowed headers-- Authorization: Basic <api_key> | Authorization: Basic <base64 hash of `api_key:`>'
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication. Allowed headers-- Authorization: Bearer <api_key>'
      scheme: bearer
      type: http
paths:
  /v1/calendars:
    get:
      description: 'Returns a list of your calendars. The calendars are returned sorted by creation date, with the most recently created calendars appearing first.'
      operationId: GetCalendars
      parameters:
        - description: 'Only return calendars that are active or inactive (e.g., pass `false` to list all inactive calendars).'
          in: query
          name: active
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          schema:
            default: 10
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              example:
                object: list
                url: /v1/calendars
                data:
                  - id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                    active: true
                    created: '2022-08-24T14:15:22Z'
                    description: Netball is the biggest team sport in Australia
                    image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
                    name: 2024 Australian Netball Championship
                    updated: '2023-08-24T14:15:22Z'
                    url: 'https://netball.com.au/anc/matchcentre'
              schema:
                description: ''
                properties:
                  data:
                    description: Details about each object.
                    items:
                      $ref: '#/components/schemas/calendar'
                    type: array
                  object:
                    description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                    enum:
                      - list
                    type: string
                  url:
                    description: The URL where this list can be accessed.
                    maxLength: 5000
                    pattern: ^/v1/calendars
                    type: string
                required:
                  - data
                  - object
                  - url
                title: CalendarList
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
    post:
      description: Creates a new calendar object.
      operationId: PostCalendars
      requestBody:
        content:
          application/json:
            example:
              name: 2024 Australian Netball Championship
              description: Netball is the biggest team sport in Australia
              image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
              url: 'https://netball.com.au/anc/matchcentre'
            schema:
              additionalProperties: false
              properties:
                active:
                  default: true
                  description: Whether the calendar is currently available. Defaults to `true`.
                  type: boolean
                description:
                  description: 'The calendar''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the calendar for your own rendering purposes.'
                  maxLength: 40000
                  type: string
                image:
                  description: 'An URL of an image for this calendar, meant to be displayable to the customer.'
                  type: string
                name:
                  description: 'The calendar''s name, meant to be displayable to the customer.'
                  maxLength: 5000
                  type: string
                url:
                  description: A URL of a publicly-accessible webpage for this calendar.
                  maxLength: 2048
                  nullable: true
                  type: string
              required:
                - name
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Netball is the biggest team sport in Australia
                image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
                name: 2024 Australian Netball Championship
                object: calendar
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre'
              schema:
                $ref: '#/components/schemas/calendar'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
  '/v1/calendars/{id}':
    delete:
      description: Delete a calendar.
      operationId: DeleteCalendarsId
      parameters:
        - in: path
          description: The identifier of the calendar which will be deleted.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                deleted: true
                object: calendar
              schema:
                $ref: '#/components/schemas/deleted_calendar'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
    get:
      description: 'Retrieves the details of an existing calendar. Supply the unique calendar ID from either a calendar creation request or the calendar list, and Chron will return the corresponding calendar information.'
      operationId: GetCalendarsId
      parameters:
        - in: path
          description: The identifier of the calendar which will be returned.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Netball is the biggest team sport in Australia
                image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
                name: 2024 Australian Netball Championship
                object: calendar
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre'
              schema:
                $ref: '#/components/schemas/calendar'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
    post:
      description: Updates the specific calendar by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: PostCalendarsId
      parameters:
        - in: path
          description: The identifier of the calendar which will be updated.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            example:
              name: 2024 Australian Netball Championship
              description: Netball is the biggest team sport in Australia
              image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
              url: 'https://netball.com.au/anc/matchcentre'
            schema:
              additionalProperties: false
              properties:
                active:
                  description: Whether the calendar is currently available.
                  type: boolean
                description:
                  description: 'The calendar''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the calendar for your own rendering purposes.'
                  maxLength: 40000
                  type: string
                image:
                  description: 'An URL of an image for this calendar, meant to be displayable to the customer.'
                  type: string
                name:
                  description: 'The calendar''s name, meant to be displayable to the customer.'
                  maxLength: 5000
                  type: string
                url:
                  description: A URL of a publicly-accessible webpage for this calendar.
                  maxLength: 2048
                  type: string
              type: object
        required: false
      responses:
        '200':
          content:
            application/json:
              example:
                id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Netball is the biggest team sport in Australia
                image: 'https://netball.com.au/public/2023-08/0p7a9429.jpg'
                name: 2024 Australian Netball Championship
                object: calendar
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre'
              schema:
                $ref: '#/components/schemas/calendar'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
  '/v1/calendars/{id}/subscribers':
    get:
      description: 'Returns a list of a calendar''s subscribers. The subscribers are returned sorted by created date, with the most recently created subscribers appearing first.'
      operationId: GetCalendarsSubscribers
      parameters:
        - in: path
          description: The identifier of the calendar.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: 'Only return subscribers that are active or inactive (e.g., pass `false` to list all inactive subscribers).'
          in: query
          name: active
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          schema:
            default: 10
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              example:
                object: list
                url: /v1/calendars/aa3kD9wsUB5LtLlpOLMzWKpvtd/subscribers
                data:
                  - id: fI7AqBtWI4H44p9GlJ5uz0R0Xe
                    active: true
                    created: '2022-08-24T14:15:22Z'
                    email: o.pitterson@example.com
                    first_name: oberon
                    last_name: pitterson
                    object: subscriber
                    updated: '2023-08-24T14:15:22Z'
              schema:
                description: ''
                properties:
                  data:
                    description: Details about each object.
                    items:
                      $ref: '#/components/schemas/subscriber'
                    type: array
                  object:
                    description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                    enum:
                      - list
                    type: string
                required:
                  - data
                  - object
                  - url
                title: CalendarSubscriberList
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Calendar
  /v1/events:
    get:
      description: 'Returns a list of your events. The events are returned sorted by creation date, with the most recently created events appearing first.'
      operationId: GetEvents
      parameters:
        - description: 'Only return events that are active or inactive (e.g., pass `false` to list all inactive events).'
          in: query
          name: active
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          schema:
            default: 10
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              example:
                object: list
                url: /v1/events
                data:
                  - id: om6kxwlbB91pPZrhIwaNTusXjT
                    active: true
                    created: '2022-08-24T14:15:22Z'
                    description: Can the Wild tame the Victorians at home?
                    end: '2023-10-31T17:30:00'
                    location: 'Blundstone Arena\n15 Derwent St\, Bellerive TAS 7018\, Australia'
                    name: Tasmania Wild vs Victorian Fury
                    object: event
                    calendar: 26tbz5q3syTZK2zDBGwboz7AiA
                    start: '2023-10-31T15:00:00'
                    updated: '2023-08-24T14:15:22Z'
                    url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
              schema:
                description: ''
                properties:
                  data:
                    description: Details about each object.
                    items:
                      $ref: '#/components/schemas/event'
                    type: array
                  object:
                    description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                    enum:
                      - list
                    type: string
                  url:
                    description: The URL where this list can be accessed.
                    maxLength: 5000
                    pattern: ^/v1/events
                    type: string
                required:
                  - data
                  - object
                  - url
                title: EventList
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Event
    post:
      description: Creates a new event object.
      operationId: PostEvents
      requestBody:
        content:
          application/json:
            example:
              name: Tasmania Wild vs Victorian Fury
              description: Can the Wild tame the Victorians at home?
              location: 'Blundstone Arena\n15 Derwent St\, Bellerive TAS 7018\, Australia'
              calendar: 26tbz5q3syTZK2zDBGwboz7AiA
              start: '2023-10-31T15:00:00'
              url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
            schema:
              additionalProperties: false
              properties:
                active:
                  default: true
                  description: Whether the event is currently available. Defaults to `true`.
                  type: boolean
                description:
                  description: 'The event''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the event for your own rendering purposes.'
                  maxLength: 40000
                  type: string
                end:
                  description: 'The end date and time of the event, in ISO 8601 format.'
                  format: date-time
                  type: string
                location:
                  description: The intended physical or virtual place where the event will take place.
                  maxLength: 5000
                  type: string
                name:
                  description: 'The event''s name, meant to be displayable to the customer.'
                  maxLength: 5000
                  type: string
                start:
                  description: 'The start date and time of the event, in ISO 8601 format.'
                  format: date-time
                  type: string
                calendar:
                  anyOf:
                    - $ref: '#/components/schemas/calendar/properties/id'
                  description: The ID of the calendar this event is associated with.
                url:
                  description: A URL of a publicly-accessible webpage for this event.
                  maxLength: 2048
                  nullable: true
                  type: string
              required:
                - name
                - calendar
                - start
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                id: om6kxwlbB91pPZrhIwaNTusXjT
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Can the Wild tame the Victorians at home?
                end: '2023-10-31T17:30:00'
                location: 'Blundstone Arena\n15 Derwent St\, Bellerive TAS 7018\, Australia'
                name: Tasmania Wild vs Victorian Fury
                object: event
                calendar: 26tbz5q3syTZK2zDBGwboz7AiA
                start: '2023-10-31T15:00:00'
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
              schema:
                $ref: '#/components/schemas/event'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Event
  '/v1/events/{id}':
    delete:
      description: Delete an event.
      operationId: DeleteEventsId
      parameters:
        - in: path
          description: The identifier of the event which will be deleted.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: CmrdZWG5MkGEn7K4gA1f9VGV2B
                deleted: true
                object: event
              schema:
                $ref: '#/components/schemas/deleted_event'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Event
    get:
      description: 'Retrieves the details of an existing event. Supply the unique event ID from either an event creation request or the event list, and Chron will return the corresponding event information.'
      operationId: GetEventsId
      parameters:
        - in: path
          description: The identifier of the event which will be returned.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: om6kxwlbB91pPZrhIwaNTusXjT
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Can the Wild tame the Victorians at home
                end: '2023-10-31T17:30:00'
                location: 'Blundstone Arena\\n15 Derwent St\\, Bellerive TAS 7018\\, Australia'
                name: Tasmania Wild vs Victorian Fury
                object: event
                calendar: 26tbz5q3syTZK2zDBGwboz7AiA
                start: '2023-10-31T15:00:00'
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
              schema:
                $ref: '#/components/schemas/event'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Event
    post:
      description: Updates the specific event by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: PostEventsId
      parameters:
        - in: path
          description: The identifier of the event which will be updated.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Tasmania Wild vs Victorian Fury
              description: Can the Wild tame the Victorians at home?
              location: 'Blundstone Arena\n15 Derwent St\, Bellerive TAS 7018\, Australia'
              calendar: 26tbz5q3syTZK2zDBGwboz7AiA
              start: '2023-10-31T15:00:00'
              url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
            schema:
              additionalProperties: false
              properties:
                active:
                  description: Whether the event is currently available.
                  type: boolean
                description:
                  description: 'The event''s description, meant to be displayable to the customer. Use this field to optionally store a long form explanation of the event for your own rendering purposes.'
                  maxLength: 40000
                  type: string
                end:
                  description: 'The end date and time of the event, in ISO 8601 format.'
                  format: date-time
                  type: string
                location:
                  description: The intended physical or virtual place where the event will take place.
                  maxLength: 5000
                  type: string
                name:
                  description: 'The event''s name, meant to be displayable to the customer.'
                  maxLength: 5000
                  type: string
                start:
                  description: 'The start date and time of the event, in ISO 8601 format.'
                  format: date-time
                  type: string
                calendar:
                  anyOf:
                    - $ref: '#/components/schemas/calendar/properties/id'
                  description: The ID of the calendar this event is associated with.
                url:
                  description: A URL of a publicly-accessible webpage for this event.
                  maxLength: 2048
                  nullable: true
                  type: string
              required:
                - name
              type: object
        required: false
      responses:
        '200':
          content:
            application/json:
              example:
                id: om6kxwlbB91pPZrhIwaNTusXjT
                active: true
                created: '2022-08-24T14:15:22Z'
                description: Can the Wild tame the Victorians at home
                end: '2023-10-31T17:30:00'
                location: 'Blundstone Arena\\n15 Derwent St\\, Bellerive TAS 7018\\, Australia'
                name: Tasmania Wild vs Victorian Fury
                object: event
                calendar: 26tbz5q3syTZK2zDBGwboz7AiA
                start: '2023-10-31T15:00:00'
                updated: '2023-08-24T14:15:22Z'
                url: 'https://netball.com.au/anc/matchcentre/tas-wild-vic-fury'
              schema:
                $ref: '#/components/schemas/event'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Event
  /v1/subscribers:
    get:
      description: 'Returns a list of your subscribers. The subscribers are returned sorted by creation date, with the most recently created subscribers appearing first.'
      operationId: GetSubscribers
      parameters:
        - description: 'Only return subscribers that are active or inactive (e.g., pass `false` to list all inactive subscribers).'
          in: query
          name: active
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          schema:
            default: 10
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              example:
                object: list
                url: /v1/subscribers
                data:
                  - id: fI7AqBtWI4H44p9GlJ5uz0R0Xe
                    active: true
                    created: '2022-08-24T14:15:22Z'
                    email: o.pitterson@example.com
                    first_name: oberon
                    last_name: pitterson
                    object: subscriber
                    updated: '2023-08-24T14:15:22Z'
              schema:
                description: ''
                properties:
                  data:
                    description: Details about each object.
                    items:
                      $ref: '#/components/schemas/subscriber'
                    type: array
                  object:
                    description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                    enum:
                      - list
                    type: string
                  url:
                    description: The URL where this list can be accessed.
                    maxLength: 5000
                    pattern: ^/v1/subscribers
                    type: string
                required:
                  - data
                  - object
                  - url
                title: SubscriberList
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Subscriber
    post:
      description: Creates a new subscriber object.
      operationId: PostSubscribers
      requestBody:
        content:
          application/json:
            example:
              email: o.pitterson@example.com
              first_name: oberon
              last_name: pitterson
            schema:
              additionalProperties: false
              properties:
                active:
                  default: true
                  description: Whether the subscriber is currently available. Defaults to `true`.
                  type: boolean
                email:
                  description: The subscriber's email address.
                  maxLength: 5000
                  type: string
                first_name:
                  description: The subscriber's first name.
                  maxLength: 5000
                  type: string
                last_name:
                  description: The subscriber's last name.
                  maxLength: 5000
                  type: string
              required:
                - email
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                id: fI7AqBtWI4H44p9GlJ5uz0R0Xe
                active: true
                created: '2022-08-24T14:15:22Z'
                email: o.pitterson@example.com
                first_name: oberon
                last_name: pitterson
                object: subscriber
                updated: '2023-08-24T14:15:22Z'
              schema:
                $ref: '#/components/schemas/subscriber'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Subscriber
  '/v1/subscribers/{id}':
    delete:
      description: Delete a subscriber.
      operationId: DeleteSubscribersId
      parameters:
        - in: path
          description: The identifier of the subscriber which will be deleted.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: 2t5rlI5ecmSe96tkS4yCBHsBdD
                deleted: true
                object: subscriber
              schema:
                $ref: '#/components/schemas/deleted_subscriber'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Subscriber
    get:
      description: 'Retrieves the details of an existing subscriber. Supply the unique subscriber ID from either a subscriber creation request or the subscriber list, and Chron will return the corresponding subscriber information.'
      operationId: GetSubscribersId
      parameters:
        - in: path
          description: The identifier of the subscriber which will be returned.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              example:
                id: fI7AqBtWI4H44p9GlJ5uz0R0Xe
                active: true
                created: '2022-08-24T14:15:22Z'
                email: o.pitterson@example.com
                first_name: oberon
                last_name: pitterson
                object: subscriber
                updated: '2023-08-24T14:15:22Z'
              schema:
                $ref: '#/components/schemas/subscriber'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Subscriber
    post:
      description: Updates the specific subscriber by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      operationId: PostSubscribersId
      parameters:
        - in: path
          description: The identifier of the subscriber which will be updated.
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            example:
              email: o.pitterson@example.com
              first_name: oberon
              last_name: pitterson
            schema:
              additionalProperties: false
              properties:
                active:
                  description: Whether the subscriber is currently available.
                  type: boolean
                email:
                  description: The subscriber's email address.
                  type: string
                first_name:
                  description: The subscriber's first name.
                  type: string
                last_name:
                  description: The subscriber's last name.
                  type: string
              type: object
        required: false
      responses:
        '200':
          content:
            application/json:
              example:
                id: fI7AqBtWI4H44p9GlJ5uz0R0Xe
                active: true
                created: '2022-08-24T14:15:22Z'
                email: o.pitterson@example.com
                first_name: oberon
                last_name: pitterson
                object: subscriber
                updated: '2023-08-24T14:15:22Z'
              schema:
                $ref: '#/components/schemas/subscriber'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
        - Subscriber
